

.room-name {
    margin-top: 0;
}

.messages-container {
    flex: 1;
  width: 90%;
  min-height: 100px;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 0.2em;
  position: relative;
  margin: auto;
}

.messages-list {
    list-style-type: none;
    padding: 0;
    
}

.new-message-input-field {
    height: 30px;
    max-height: 200px;
    font-size: 16px;
    width: 40%;
    margin: auto;
    margin-right: 0;
    padding: 8px 12px;
    resize: none;
    vertical-align: middle;
    border-radius: 20px;
}

.message-item {
    width: 55%;
    margin: 8px;
    padding: 12px 8px;
    word-break: break-word;
    border-radius: 4px;
    color: white;
    background: linear-gradient(120deg, #5b6467, #8b939a);
}

.my-message {
    float: right;
}

.my-message .message-body{
    float: left;
}

.my-message .message-info{
    float: right;
}

.received-message {
    float: left;
}

.received-message .message-body {
    float: right;
}

.received-message .message-info{
    float: left;
}

.send-message-button {
    font-size: 16px;
    background: transparent;
    padding: 24px 12px;
    border: none;
    margin: auto;
    margin-left: 0;
    cursor: pointer;
}

.messages-container, .new-message-input-field, .send-message-button {
    border-color: #9a9a9a;
}

.firstName {
    font-size: 8px;
    margin: 0;
}

.message-info{
    font-size: 8px;
    margin: 0;
}

.message-body {
    margin: 0;
}

#style-14::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

#style-14::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 75%,
											  transparent)
}