.list-container {
    width: 40%;
    margin-left: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.profile {
    margin-right: 20px;
}

.user-profile {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}