:root {
    /* Primary Colors */
    --bc: #0c0c0d;
    --bc-gray: #0d0e10;
    --bc-purple: #1e2731;
    --bc-purple-darker: #181c23;
    --bc-nav-foot: #101317;
    --section: #0e0e10;
    --primary: #94c2e3;
    --secondary: #4888b5;
    /* Colors */
    --white: #ffffff;
    --black: #000000;
    --dark-blue: #1f2029;
    --extra-dark-blue: #13141a;
    --red: #da2c4d;
    --orange: #fd7e14;
    --yellow: #f8ab37;
    --warning: #ffc107;
    --green: #28a745;
    --light-green: #24e33a;
    --teal: #20c997;
    --cyan: #17a2b8;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --light-gray: #ebecf2;
    --bright-gray: #d9d5de;
    --gray: #6c757d;
    --gray-extra-dark: #343a40;
    --dark: #343a40;
    /* Minecraft Colors */
    --m-darkred: #aa0000;
    --m-red: #ff5555;
    --m-gold: #ffaa00;
    --m-yellow: #ffff55;
    --m-green: #55ff55;
    --m-darkgreen: #00aa00;
    --m-darkaqua: #00aaaa;
    --m-aqua: #55ffff;
    --m-blue: #94c2e3;
    --m-darkblue: #0000aa;
    --m-purple: #aa00aa;
    --m-pink: #ff55ff;
    --m-gray: #aaaaaa;
    --m-darkgray: #555555;
    /* Gradients */
    --gradient: linear-gradient(
      45deg,
      rgba(148, 194, 227, 1) 0%,
      rgba(72, 136, 181, 1) 100%
    );
    --gradient2: linear-gradient(
      45deg,
      rgba(148, 194, 227, 1) 0%,
      rgba(72, 136, 181, 1) 100%
    );
    /* Sizes */
    --heading: 3.4rem;
    --heading-medium: 2rem;
    --paragraph: 1.1rem;
    --button-large: 1.6rem;
    --button-small: 1.2rem;
    --button-smallest: 1rem;
    /* Fonts */
    --font-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-secondary: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --font-slim: "Roboto";
  }
  * {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: var(--font-main);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    background-color: white;
    transition: background-color 0.2s ease-in-out;
  }
  main {
    min-height: 100vh;
  }
  footer {
    background-color: var(--bc);
  }
  /* Classes */
  /* ScrollTop */
  .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    z-index: 98;
  }
  .back-to-top a svg {
    fill: var(--bc-purple);
  }
  .back-to-top a {
    display: block;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.35s ease-in-out;
  }
  .back-to-top a:hover {
    transform: scale(1.1, 1.1);
  }
  /* Space */
  .space {
    min-height: 15vh;
  }
  .large-space {
    min-height: 35vh;
  }
  /* Global Classes */
  .flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexbox-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .list-container {
    width: 40%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}
  
  /* User Profile */
  .user-header-wrapper {
    width: 80%;
    position: relative;
    margin: auto;
  }
  .user-icon-wrapper {
    width: 100%;
    position: absolute;
    z-index: 12;
  }
  .user-icon {
    width: 70%;
    height: auto;
    display: block;
    border-radius: 50%;
    border: 0.5em solid var(--bc);
    background-color: var(--bc);
    margin: auto;
  }
  .user-header-inner {
    z-index: 5;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .user-header-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 6;
  }
  .user-header {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
  }
  .username-wrapper {
    width: 100%;
    position: relative;
  }
  .username-dev {
    text-align: left;
    color: var(--m-blue);
    font-size: 2em;
    cursor: default;
  }
  
  li {
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 0;
  }
  .user-info-bar {
    height: 120px;
    width: 80%;
    display: grid;
    margin: auto;
    background: linear-gradient(120deg, #5b6467, #8b939a);
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: auto;
    grid-template-areas: ".ufo-bar-col2 .ufo-bar-col3 .ufo-bar-col4";
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .ufo-bar-col2-inner {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    color: black;
  }
  .ufo-bar-col3-inner {
    display: flex;
    padding: 0.5em 0;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
  }
  .username-wrapper-outer {
    display: flex;
    margin: 0 0 0 1.5em;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }
  .ufo-bar-bio {
    color: var(--gray);
  }
  .ufo-bar-col3-inner {
    width: 100%;
    height: 100%;
  }
  
  .ufo-bar-col4-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .user-info-bar2 {
    width: 80%;
    margin: auto;
    display: grid;
    color: black;
    grid-template-columns: 1fr 21.67% 21.67% 21.67% 1fr;
    grid-template-rows: auto;
    grid-template-areas: ".ufo-bar2-col1 .ufo-bar2-col2 .ufo-bar2-col4 .ufo-bar2-col6 .ufo-bar2-col7";
  }
  .ufo-bar2-block-active {
    position: relative;
    cursor: default;
  }
  .ufo-bar2-block {
    border-bottom: 3px solid var(--bc);
    cursor: pointer;
  }
  .ufo-bar2-block span {
    margin: 0 0.3em;
    color: var(--dark);
  }
  .ufo-bar2-block h3 {
    color: var(--dark);
    font-weight: 500;
  }
  .ufo-bar2-block:after {
    content: "";
    background: var(--gradient);
    background-size: 700%;
    display: block;
    height: 3px;
    width: 100%;
    bottom: 0;
  }
  .ufo-bar2-col2-inner {
    width: 100%;
  }
  .ufo-bar2-col4-inner {
    width: 100%;
  }
  .ufo-bar2-col5-inner {
    width: 100%;
  }
  .ufo-bar2-col6-inner {
    width: 100%;
  }
  /* Button 2 */
  .button2,
  .btn-secondary2 {
    margin: 0 0.4em;
    position: relative;
    cursor: pointer;
    padding: 0.9em 1em;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: 300;
    color: var(--bc);
    font-size: var(--button-small);
    background: var(--gradient2);
    background-size: 1100%;
    border-radius: 50px;
    border: none;
    transform: scaleX(1);
    transition: background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .button2 {
    transition: bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .button2,
  .button2 .btn-secondary2 {
    background-position: 0 50%;
    bottom: 0;
  }
  .button2 .btn-secondary2 {
    left: 0;
    width: 90%;
    position: absolute;
    filter: blur(16px);
    opacity: 0.9;
    z-index: -1;
    transform: scale3d(0.9, 0.9, 1);
    transition: bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      -webkit-filter 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      filter 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      filter 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      background-position 3s cubic-bezier(0.455, 0.03, 0.515, 0.955),
      -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      -webkit-filter 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .button2:focus,
  .button2:hover {
    transform: scale3d(1.1, 1.1, 1);
    background-position: 100% 50%;
    outline: none;
    bottom: 2px;
  }
  .button2:focus .btn-secondary2,
  .button2:hover .btn-secondary2 {
    background-position: 100% 50%;
    filter: blur(25px);
    bottom: -5px;
  }
  